@import 'nib'
@import '1reset'

html
    font-family: sans-serif

*
    font-family: 'Avenir Next', sans-serif

.contact-body
    margin: 0 10px 20px 10px

    .bord-rad-bottom
        border-radius: 0 0 6px 6px

    label.error
        display none !important

    input.error
        background: none !important

#contact-form

    margin: 0 auto
    max-width: 680px
    display: block

    h1
        color: #333333
        font-weight: 600
        font-size: 32px

    .separator
        background-color: #51D3D4
        width: 50px
        display: block
        height: 4.9px
        margin-bottom: 20px

    .copy-text
        font-size: 16px
        font-weight: 300
        margin-bottom: 20px
        line-height: 24px

        span
            color: #47BEC0

    .info-text
        display: table
        width: 100%
        color: #ADADAD
        margin-bottom: 20px

        .left
            font-size: 12px
            font-weight: 400
            display: table-cell
            width: 50%

        .right
            font-size: 13px
            font-weight: 300
            display: table-cell
            width: 50%
            text-align: right

            image
                vertical-align: middle

    .input-group
        display: block
        border: 1px solid #EAEAEA
        border-radius: 6px
        height: auto
        margin-bottom: 15px
        color: #ADADAD

        .input-field
            display: block
            border-bottom: 1px solid #EAEAEA
            font-size: 16px
            width: 100%

            .ofocus
                display:block
                height: 4px
                background: #4ED2D4
                visibility: hidden

            .error-box
                display: none
                position: relative
                background: #FF524F

                .triangle
                    position: absolute
                    border-left: 10px solid transparent
                    border-right: 10px solid transparent
                    border-bottom: 10px solid #FF524F
                    bottom: 35px
                    margin-left: 18px

                .message
                    display: block
                    color: #FFECEC
                    font-size: 12px
                    padding: 12px 0px 12px 20px

            .field
                display: table

                .input-icon
                    display: table-cell
                    padding: 15px 10px 10px 20px
                    width: 1%
                    vertical-align: top
                    text-align: center

                    .icon
                        width: 18px
                        height: 16px
                        fill: #ADADAD

                    .icon-12
                        height: 12px

                    .icon-20
                        width: 20px
                        height: 20px

                .input-box
                    font-size: 16px
                    font-weight: 300
                    display: table-cell
                    width: 95%
                    padding: 15px 5px 10px 0
                    border: 0
                    resize: none

                .select
                    height: 100%
                    appearance: none
                    background: transparent url("../images/icons/icon_arrow.png") no-repeat right center;

                .upload-box
                    font-size: 16px
                    font-weight: 300
                    line-height: 3em

                    span
                        text-decoration: underline
                        cursor: pointer

                    input[type=file]
                        display: none

                    .dghover
                        border: 1px dashed #e0e0e0
                        padding 0 0 0 10px
                        transition: all 0.1s ease

                    .file-list
                        list-style: none
                        margin: 0
                        padding: 0

                        li
                            padding: 0 0 0 10px
                            margin: 0
                            font-size: 12px

                .counter
                    display: block
                    width: 98%
                    font-weight: 300
                    text-align: right
                    font-size: 14px

                &:hover
                    .input-icon
                        .icon
                            fill: #4ED2D4

                    &:last-child
                        border-radius: 6px

            &:last-child
                border-bottom: none

            &:hover
                .ofocus
                    visibility: visible

        .input-field-error
            .ofocus
                display: none

            .field
                .input-icon
                    .icon
                        fill: #FF524F

                &:hover
                    .input-icon
                        .icon
                            fill: #FF524F

        #rating
            display: block
            width: 100%
            margin-top: 10px

            .counter-box
                position: relative
                display: block
                width: 240px
                height: 0px
                margin: 0 auto

                .counter
                    display: none
                    width: 40px
                    background: url('../images/ratingbg.png') center no-repeat
                    height: 33px
                    color: #fff
                    text-align: center
                    padding: 5px 0

                    position: absolute
                    z-index: 1

                    bottom: 100%

            #stars
                color: #EAEAEA
                margin: 0 auto


    .btn-submit
            display: block
            width: 100%
            background-color: #4BD1D4
            padding: 20px
            border: 1px solid #4BD1D4
            color: white
            font-size: 16px
            border-radius: 0 0 6px 6px
            transition: all 1s ease

            &:hover
                background-color: #05BABE

    .bottom-no-border
        border-radius: 6px 6px 0 0
        margin-bottom: 0
